<h2>Drugs</h2>
<p>
  Search using the box below to find drug information.
  <%= form_tag '/drugs', :method => :get do %>
    <%= text_field_tag "name" %>
    <%= submit_tag "Search" %>
  <% end %>
</p>

<h2>Previous prescriptions</h2>
<table>
  <tr>
    <th>Prescription ID</th>
    <th>Patient ID</th>
    <th>DIN</th>
    <th>Item</th>
    <th>Strength</th>
    <th>Amount</th>
    <th>When</th>
    <th></th>
  </tr>

<% @prescriptions.each do |prescription| %>
  <tr>
    <td><%= prescription.id %></td>
    <td><%= prescription.patient_id %></td>
    <td><%= prescription.din %></td>
    <td><%= prescription.item %></td>
    <td><%= prescription.strength %></td>
    <td><%= prescription.amount %></td>
    <td><%= prescription.when %></td>
    <td><%= link_to 'Show', prescription %></td>
    <td><%= link_to 'Renew', prescription %></td>
  </tr>
<% end %>
</table>