<p id="notice"><%= notice %></p>

<div id="qr_code">
  <b>QR Code:</b><br/>
  <%= image_tag @image_path, :width => 500 %>
</div>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Address:</b>
  <%= @patient.address_line_one %>,<br/>
  <%= @patient.town %>,<br/>
  <%= @patient.county %>,<br/>
  <%= @patient.postcode %>,<br/>
</p>

<p>
  <b>Din:</b>
  <%= @prescription.din %>
</p>

<p>
  <b>Item:</b>
  <%= @prescription.item %>
</p>

<p>
  <b>Strength:</b>
  <%= @prescription.strength %>
</p>

<p>
  <b>Amount:</b>
  <%= @prescription.amount %>
</p>

<p>
  <b>When:</b>
  <%= @prescription.when %>
</p>


<%= link_to 'Back', patient_prescriptions_path(params[:patient_id]) %>