<% content_for :header_includes do %>
  <%= stylesheet_link_tag "bookings" %>
<% end %>
<div class="bookings_container">
<%= form_for @booking, :url => gp_bookings_path do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @time %>
    <%= f.hidden_field :time, :value => @time %>
  <% else %>
    <div class="field">
      <br />
      <%= f.datetime_select :time, :minute_step => 15 %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message, :value => "Please fill in with the reason you" +
      " would like to visit your GP" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>