<% content_for :header_includes do %>
  <%= stylesheet_link_tag "bookings" %>
<% end %>
<div class="bookings_container">

<h1>Bookings for GP <%= @gp_name %></h1>
<div class="nav_links">
  <%= link_to 'New Booking', new_patient_gp_booking_path %> |
  <%= link_to image_tag("ical.gif"), patient_gp_bookings_path(:format => :ics) %>
</div>

<div class="key_wrapper">
  <a id="showhide_key" href="#">Key</a>
</div>
<div class="key">
  <table class="key">
    <tr>
      <td class="booked key"></td>
      <td>Already booked</td>
    </tr>
    <tr>
      <td class="unbooked key"></td>
      <td>Not yet booked</td>
    </tr>
  </table>
</div>
<%# http://www.ruby-forum.com/topic/187461 %>
<% t_now = Time.now %>
<% t_prev_mon_begin = t_now - (t_now.wday-1)*24*60*60 - t_now.hour*60*60 - t_now.min*60 - t_now.sec %>
<br/><h3>For week beginning <%= t_prev_mon_begin.strftime "%d/%m/%Y" %></h3>
<table class="bookings">
  <tr>
    <th></th>
    <% start_time = (Time.now.beginning_of_day + 10.hours).to_i %>
    <% end_time = (Time.now.beginning_of_day + 16.hours).to_i %>
    <% Range.new(start_time, end_time).step(20.minutes) do |seconds| %>
      <% time = Time.at(seconds) %>
      <th><%= time.strftime "%H:%M"" "%></th>
    <% end %>
  </tr>
  <% (1..6).each do |day| %>
    <tr>
      <th><%= Date::DAYNAMES[day][0..2] %></th>
      <% Range.new(start_time, end_time).step(20.minutes) do |seconds| %>
        <% time = Time.at(seconds) %>
        <% day_time = Time.mktime time.year, time.month, day, time.hour,
            time.min %>
    <% bookings = Booking.find_all_by_time day_time %>
        <% if bookings and bookings.first %>
          <td class="booked">
            Booked
        <% else %>
          <td class="unbooked">
            <%= link_to "Book", new_patient_gp_booking_path(:time => day_time) %>
        <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<div class="credit">
  ICAL logo CC-licensed from <%= link_to "mokolabs",
    "http://www.flickr.com/photos/mokolabs/127824172/" %>
</div>
</div>