<% content_for :header_includes do %>
  <%= stylesheet_link_tag "bookings" %>
<% end %>
<div class="bookings_container">

<p id="notice"><%= notice %></p>

<p>
  <b>GP:</b>
  <%= @booking.gp_id %>
</p>

<p>
  <b>Time:</b>
  <%= @booking.time %>
</p>

<p>
  <b>Message:</b>
  <%= @booking.message %>
</p>


<%= link_to 'Back', patient_gp_bookings_path %>

</div>