<% content_for :header_includes do %>
  <link rel="stylesheet" type="text/css" href="/bx_styles/bx_styles.css" />
  <script src="/jquery.bxSlider.min.js" type="text/javascript"></script>
  
  <script type="text/javascript">
  $(document).ready(function(){
    var slider = $('#testimonial_slider').bxSlider({
      loop: true,
      pager: true,
      auto: true
    });
    
    slider.goToSlide(0);
    slider.goToSlide(1);
    slider.goToSlide(2);
    slider.goToSlide(0);
  });
</script>
<% end %>

<div class="introduction">
  <h2>myNHS</h2>
  <p>
    myNHS has been designed to allow you to manage all of your interaction
    with the NHS online, including bookings appointments with your General 
    Practitioner and ordering repeat prescriptions. We hope it will be
    convenient and easy to use.
  </p>
  <p>myNHS allows you to:
  <ul>
    <li>Find out about local health services and their quality</li>
    <li>Book an appointment with your GP</li>
    <li>Manage your prescriptions, including ordering repeat prescriptions</li>
    <li>View information and side-effects for common drugs</li>
    <li>View your medical history and allergies</li>
  </ul>
  <p>
    myNHS also has mobile and tablet apps for Windows Phone 7 and the iPad,
    with other platforms currently in development.
  </p>
  <%= link_to "View local medical services", patient_maps_path, :class => "button blue bigrounded button_home" %>
</div>
<div class="testimonial">
  <h3>Testimonials</h3>
  <ul id="testimonial_slider">
    <li>
      <p>
        <%= image_tag 'person1.jpg', :width => 280, :height => 188 %>
        "myNHS is amazing for use on the go when using the Windows Phone 7 app. It is extremely easy
        to use and this, along with its incredibly simple interface, allows me to order my prescription.
        I can then go and collect the prescription using the QR image automatically send to my phone."
      </p>
      <div class="credit">Clive Jones, Brighton</div>
    </li>
    <li>
      <p>
        <%= image_tag 'person2.jpg', :width => 280, :height => 188 %>
        "myNHS is extremely simple to use, but still remains very powerful. It is the ease of
        prescribing treatment for my patients that amazes me - there wasn't even any
        upgrading of my computer system as it is all web-based."
      </p>
      <div class="credit">Dr. Thompson, Crawley</div>
    </li>
    <li>
      <p>
        <%= image_tag 'person3.jpg', :width => 280, :height => 188 %>
        "On myNHS I can very easily find my local health services. I can simply type my
        postcode, then see the contact details and quality information for my local hospitals.
        I can also book appointments with my GP online, as well as seeing the history of my
        health and prescriptions."
      </p>
      <div class="credit">Clive Jones, Brighton</div>
    </li>
  </ul>
</div>
<div class="buttons_container"> 
<% css_class = "button blue bigrounded button_home" %>
<%= link_to "Medical Map", patient_maps_path, :class => css_class  %>
<%= link_to "Book an Appointment", patient_gp_bookings_path(params[:patient_id], @patient.gp_id), :class => css_class  %>
<%= link_to "My Prescriptions", patient_prescriptions_path(params[:patient_id]), :class => css_class  %>
<%= link_to "My History", url_for(:controller => "static", :action => "patient_history"), :class => css_class  %>
</div>