<!DOCTYPE html>
<html>
<head>
  <title>Yrs2011Rails</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= yield :header_includes %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
  <ul>
  <li><%= link_to "Patient History", "/patient_history" %></li>
    <li><%= link_to "Local", maps_path %></li>
    <li><%= link_to "My Prescriptions", prescriptions_path %></li>
    <li><%= link_to "Bookings", gp_bookings_path(1) %></li>
  </ul>
  <%= yield %>
</div>
</body>
</html>
