<!DOCTYPE html>
<html>
<head>
  <title>Yrs2011Rails</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= yield :header_includes %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
  <ul>
  <% unless controller.controller_name == "patients" %>
    <li><%= link_to "Patient History", "/patient_history" %></li>
      <li><%= link_to "Local", maps_path %></li>
      <li><%= link_to "My Prescriptions", patient_prescriptions_path(params[:patient_id]) %></li>
      <li><%= link_to "Bookings", patient_gp_bookings_path(params[:patient_id], @patient.gp_id) %></li>
    </ul>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
